RewriteEngine On

RewriteBase /sites/

RewriteRule ^login$ index.php?page=login [L]
RewriteRule ^logout$ index.php?page=logout [L]
RewriteRule ^create-vacation$ index.php?page=create-vacation [L,QSA]
RewriteRule ^home$ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^not-found$ index.php?page=not-found [L,QSA]