.form-field {
  width: max-content;
  margin: 0 auto;
}
.form-field label {
  display: block;
}
.main-links {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.main-links li {
  list-style: none;
  margin-left: 20px;
}
.main-links li:first-child {
  margin-left: 0;
}
.main-links li a.active {
  text-decoration: underline;
}
.login-user-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-user-form .login-user-form-title {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.page_title {
  text-align: center;
  margin-bottom: 20px;
}
table {
  margin: 0 auto;
}
table thead th, table thead td, table tbody th, table tbody td {
  text-align: center;
  padding: 0 20px;
}
table thead th.td-workflow, table thead td.td-workflow, table tbody th.td-workflow, table tbody td.td-workflow {
  padding: 0;
}
table thead th.td-workflow button, table thead td.td-workflow button, table tbody th.td-workflow button, table tbody td.td-workflow button {
  padding: 10px 15px;
  background-color: initial;
}
table thead th.td-workflow button:hover, table thead td.td-workflow button:hover, table tbody th.td-workflow button:hover, table tbody td.td-workflow button:hover {
  cursor: pointer;
  background-color: aqua;
}
table thead th {
  padding-bottom: 10px;
}