body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #070a35;
}
form .form-field input, form .form-field textarea, form .form-field select {
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  border: 3px solid #535DE0;
  box-shadow: 0 0 15px #535DE0;
  background-color: inherit;
  color: #EFF4FC;
}
form .form-field input:focus, form .form-field textarea:focus, form .form-field select:focus {
  box-shadow: 0 0 25px #9EB7E0;
  border: 3px solid #535DE0;
}
form .form-field input:hover, form .form-field textarea:hover, form .form-field select:hover {
  box-shadow: 0 0 25px #9EB7E0;
}
form .form-field textarea {
  resize: vertical;
}
form .form-field select option {
  color: #070a35;
}
form .form-field .field-input, form .form-field .field-textarea, form .form-field .field-select, form .form-field .field-text {
  display: flex;
  justify-content: center;
}
form .form-field .submit-button {
  width: 50%;
  margin: 0 auto;
}
form .form-field .submit-button input {
  width: 100%;
}
header .top-nav-bar {
  margin: 20px 0;
  padding: 15px 10px;
  box-shadow: 0 0 30px #9EB7E0;
  border-radius: 20px;
  border-top: 3px solid #535DE0;
  border-bottom: 3px solid #535DE0;
}
header .main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
header .main-menu ul li {
  margin: 5px 10px;
  font-size: 18px;
}
header .main-menu ul li a {
  text-decoration: none;
}
header .main-menu ul li a:hover {
  text-shadow: 0 0 10px #9EB7E0, 0 0 20px #9EB7E0;
  transition: text-shadow 0.3s ease;
}
header .main-menu ul li a.active {
  text-shadow: 0 0 10px #535DE0, 0 0 20px #535DE0;
}
.message-container {
  margin: 40px 0;
  width: 100%;
}
.message-container .message {
  width: 75%;
  margin: 0 auto;
}
.message-container .message .message-error, .message-container .message .message-confirm {
  padding: 20px 15px;
  width: 100%;
  border-radius: 20px;
}
.message-container .message .message-error {
  background-color: rgb(149, 10, 10);
  box-shadow: 0 0 30px rgb(211, 29, 29);
}
.message-container .message .message-confirm {
  background-color: rgb(15, 96, 15);
  box-shadow: 0 0 30px rgb(34, 207, 34);
}
header a {
  font-size: 18px;
  color: #9EB7E0;
}

.content {
  max-width: 1440px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  color: #9EB7E0;
  font-size: 18px;
}
.content a {
  font-size: 18px;
  color: #9EB7E0;
}
.content .title h1 {
  font-size: 28px;
  text-shadow: 0 0 30px #9EB7E0, 0 0 40px #9EB7E0;
  margin: 30px 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
}
.content .title h1::before, .content .title h1::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #535DE0;
  box-shadow: 0 0 20px #9EB7E0;
}
.content .title h1:not(:empty)::before {
  margin-right: 0.5em;
}
.content .title h1:not(:empty)::after {
  margin-left: 0.5em;
}

@media (max-width: 1440px) {
  .content {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .content {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .content {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .content {
    max-width: 700px;
  }
}
@media (max-width: 700px) {
  .content {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .content {
    max-width: 320px;
  }
}
table {
  color: white;
}