.form-field {
  width: max-content;
  margin: 0 auto;
}
.form-field label {
  display: block;
}
h1, h2, h3 {
  font-family: "Kadwa", serif;
  font-weight: 700;
  font-style: normal;
  color: #f0f0f0;
}

p, div, span, label {
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;
  color: #f0f0f0;
  font-size: 18px;
}
.main-links {
  display: flex;
  flex-wrap: wrap;
}
.main-links li {
  list-style: none;
  margin-left: 20px;
}
.main-links li:first-child {
  margin-left: 0;
}
.main-links li a {
  font-size: 18px;
  color: #f0f0f0;
}
.main-links li a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.main-links li.link-user-cabinet, .main-links li.link-login {
  margin-left: auto;
}
.login-user-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-user-form .login-user-form-title {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #A18C7D;
  margin: 0;
  padding: 0;
}
.page_title {
  text-align: center;
  margin-bottom: 20px;
}
.page_title h1 {
  font-size: 24px;
  line-height: 24px;
}

header {
  background-color: #6D5849;
  padding: 25px 0;
  margin-bottom: 30px;
}

.top-nav-bar, .main-content, .footer-content {
  margin: 0 auto;
  width: 1440px;
  padding: 0 15px;
  box-sizing: border-box;
}
table {
  margin: 0 auto;
}
table thead th, table thead td, table tbody th, table tbody td {
  text-align: center;
  padding: 0 20px;
}
table thead th.td-workflow, table thead td.td-workflow, table tbody th.td-workflow, table tbody td.td-workflow {
  display: flex;
  padding: 0;
}
table thead th.td-workflow button, table thead td.td-workflow button, table tbody th.td-workflow button, table tbody td.td-workflow button {
  margin: 0 10px;
  padding: 10px 15px;
}
table thead th.td-workflow button:hover, table thead td.td-workflow button:hover, table tbody th.td-workflow button:hover, table tbody td.td-workflow button:hover {
  cursor: pointer;
}
table thead {
  background-color: #8F7667;
}
table tbody {
  background-color: #DDBFAF;
}