<div class="message">
    <div class="message-error">{{ error_message }}</div>
    <div class="message-confirm">{{confirm_message}}</div>
</div>
<form id="{{nameForm}}" method="post">
    <div class="form-field">
        {% for input in inputs %}
        <div class="field-{{input.field}}">
            {% if input.type == 'textarea' %}
            <textarea
                id="{{ input.id }}"
                name="{{ input.name }}"
                class="form-field-{{input.field}}"
            ></textarea>
            {% elseif input.type == 'select' %}
            <select
                id="{{ input.id }}"
                name="{{ input.name }}"
                class="form-field-{{input.field}}"
            >
                {% for value, text in input.options %}
                <option value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
            {% else %}
            <input
                type="{{ input.type }}"
                id="{{ input.id }}"
                name="{{ input.name }}"
                class="form-field-{{input.field}}"
            />
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="send" />
    </div>
</form>

<script src="{{ scripts }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var formId = "{{ nameForm }}";
        var actionUrl = "{{ action }}";
        init_form(formId, actionUrl);
    });
</script>
