<div class="message-container">
    <div class="message">
        <div class="message-error" style="display: none"></div>
        <div class="message-confirm" style="display: none"></div>
    </div>
</div>

<form id="{{nameForm}}" method="post" action="{{ action }}">
    <div class="form-field">
        {% for input in inputs %}
        <div class="field-{{input.field}} field-{{ input.type }}">
            <label id="field-{{input.id}}" class="field-title-element">{{ input.title }}</label>
            {% if input.type == 'textarea' %}
            <textarea
                id="{{ input.id }}"
                name="{{ input.name }}"
                class="form-field-{{input.field}}"
            >
{{ input.default_value }}</textarea
            >
            {% elseif input.type == 'select' %}
            <select
                id="{{ input.id }}"
                name="{{ input.name }}"
                class="form-field-{{input.field}}"
                value="{{ input.default_value }}"
            >
                {% for value, text in input.options %}
                <option value="{{ value }}" {% if value == input.default_value %} selected {% endif %}>{{ text }}</option>
                {% endfor %}
            </select>
            {% else %}
            <input
                type="{{ input.type }}"
                id="{{ input.id }}"
                name="{{ input.name }}"
                class="form-field-{{input.field}}"
                value="{{ input.default_value }}"
            />
            {% endif %}
        </div>
        {% endfor %}
        <div class="submit-button">
            <input type="submit" value="send" class="submit-form" />
        </div>
    </div>
</form>

<script src="{{ scripts }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var formId = "{{ nameForm }}";
        var actionUrl = "{{ action }}";
        init_form(formId, actionUrl);
    });
</script>
