<ul class="main-links">
    {% for link in links %} {% if link.tag == 'all' %}
    <li>
        <a
            href="/sites/{{ link.url }}"
            class="{{ link.active ? 'active' : '' }}"
        >
            {{ link.title }}
        </a>
    </li>
    {% endif %} {% endfor %}
</ul>

<ul class="main-links">
    {% for link in links %} {% if link.tag == session.user_role %}
    <li>
        <a
            href="/sites/{{ link.url }}"
            class="{{ link.active ? 'active' : '' }}"
        >
            {{ link.title }}
        </a>
    </li>
    {% endif %} {% endfor %}
</ul>

<ul class="log-links">
    {% if session.user_nickname is defined %}
    <li class="user_nickname">
        Hallo
        <a href="user-cabinet" class="user-name">{{ session.user_nickname }}</a>
    </li>
    <li><a href="logout">log out</a></li>
    {% else %}
    <li><a href="login">log in</a></li>
    {% endif %}
</ul>
