<head>
    <title>{{ title|striptags }}</title>
    <link rel="stylesheet" href="styles/css/styles.css" />
</head>
<div class="content">
    <header>
        <div class="top-nav-bar">
            <div class="main-menu">{{ links|raw }}</div>
        </div>
    </header>
    <div class="main-content">
        <div class="title">{{ title|raw }}</div>
        <div class="message">
            <div class="message-error">{{ error_message }}</div>
            <div class="message-confirm">{{confirm_message}}</div>
        </div>
        <div class="main-conteiner">
            <div class="center-content">{{ content|raw }}</div>
            <div class="sidebar-content">{{ sidebar|raw }}</div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="botom-bar">{{ footer|raw }}</div>
        </div>
    </footer>
</div>
