// Title font size
$title-font-size: 28px;
$title-medium-font-size: 22px;
$title-short-font-size: 18px;

// Node font size
$node-font-size: 18px;
$node-medium-font-size: 16px;
$node-small-font-size: 14px;

// Standart color
$dark-blue: #070a35;
$blue: #535DE0;
$light-blue: #9EB7E0;
$lighter-blue: #EFF4FC;
$color-light-white: #FFFEFE;

// Error color
$dark-red: rgb(149, 10, 10);
$light-red: rgb(211, 29, 29);

// Confirm color
$dark-green: rgb(15, 96, 15);
$light-green: rgb(34, 207, 34);

// Breakpoints
$desktop: 1440px;
$smallDesktop: 1280px;
$bigTable: 1024px;
$table: 800px;
$smallTable: 700px;
$phone: 600px;
$smallPhone: 320px;