$title-font-size: 28px;
$title-medium-font-size: 22px;
$title-short-font-size: 18px;

$node-font-size: 18px;
$node-medium-font-size: 16px;
$node-small-font-size: 14px;

$dark-blue: #070a35;
$blue: #535DE0;
$light-blue: #9EB7E0;
$lighter-blue: #EFF4FC;
$color-light-white: #FFFEFE;

$desktop: 1440px;
$smallDesktop: 1280px;
$bigTable: 1024px;
$table: 800px;
$smallTable: 700px;
$phone: 600px;
$smallPhone: 320px;