// Desktop width
$bigDesktopWidth: 1440px;

// Gap width
$bigMargin: 30px;
$mediumMargin: 20px;
$smallMargin: 10px;

$bigPadding: 20px;
$mediumPadding: 15px;
$smallPadding: 10px;

// Color
$darkBrown: #6D5849;
$lightDarkBrown: #8F7667;
$Brown: #A18C7D;
$lightBrown: #CCAB93;
$lighterBrown: #DDBFAF;

$white: #f0f0f0;
$black: #0e0e0e;

// Font size
$desktopFontSize: 18px;
$tableFonTSize: 16px;
$phonefontSize: 14px;

$desktopTitleFontSize: 24px;
$tableTitleFontSize: 20px;
$phoneTitleFontSize: 18px;