@import "_variables";

.main-links {
    display: flex;
    flex-wrap: wrap;
    li {
        list-style: none;
        margin-left: 20px;
        &:first-child {
            margin-left: 0;
        }

        a {
            font-size: $desktopFontSize;
            color: $white;
        }

        a.active {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
        
        &.link-user-cabinet, &.link-login {
            margin-left: auto;
        }
    }
}