table{
    
    margin: 0 auto;

    thead, tbody {
        th, td {
            text-align: center;
            padding: 0 20px;

            &.td-workflow {
                display: flex;
                padding: 0;
                button {
                    margin: 0 10px;
                    padding: 10px 15px;
                    background-color: initial;
                    &:hover {
                        cursor: pointer;
                        background-color: aqua;
                    }
                }
            }
        }
    }

    thead {
        th {
            padding-bottom: 10px;
        }
    }
}
